name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: gradle/wrapper-validation-action@v2

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'adopt'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Build & run tests
        run: ./gradlew build --no-daemon

      - name: Upload test report if failed
        if: failure() # Only upload the build report if the previous step failed
        uses: actions/upload-artifact@v4
        with:
          name: Test report
          path: |
            **/build/reports/tests/test/*
            build/reports/tests/test/*
