name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    strategy:
      matrix:
        java: [ 11, 17, 21 ] # Test against Java LTS releases starting with 11
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Build & run tests
        run: ./gradlew build --no-daemon

      - name: Upload test report if failed
        if: failure() # Only upload the build report if the previous step failed
        uses: actions/upload-artifact@v4
        with:
          name: Test report
          path: |
            **/build/reports/tests/test/*
            build/reports/tests/test/*
